#title{
    text-align: center;
    color: orange;

    text-shadow: 1px;
    font-weight: 10000px;
    text-decoration: wavy;
    background-image: url(backgroundTitle.jpg);
    padding: 20px;

}

#Under-title {
    text-align: center;
}

#small-paragraph{
    text-align: center;
}